<a href="https://colab.research.google.com/github/Vyshnavi2k5/PDS_B14_2303A51968/blob/main/Data_cleaning_and_preprocessing%2C_Handling_missing_data%2C_dup%2C_data_trans_.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

Detecting Missing values

In [1]:
import pandas as pd
import numpy as np

#Creating a dataset with missing values
data={
    'Name':['Ravi', 'Neha', 'Kiran', 'Sita'],
    'Age':[25, np.nan, 30, 28],
    'Marks':[85, 90, np.nan, 92]
}

df = pd.DataFrame(data)

print("Original DataFrame:")
print(df)

#Detect missing values
print("\nCheck for Missing Values:")
print(df.isnull())

Original DataFrame:
    Name   Age  Marks
0   Ravi  25.0   85.0
1   Neha   NaN   90.0
2  Kiran  30.0    NaN
3   Sita  28.0   92.0

Check for Missing Values:
    Name    Age  Marks
0  False  False  False
1  False   True  False
2  False  False   True
3  False  False  False

Dropping Missing Values

In [2]:
#Drop rows with missing Values
df_dropped = df.dropna()

print("After Dropping Rows with NaN:")
print(df_dropped)

After Dropping Rows with NaN:
   Name   Age  Marks
0  Ravi  25.0   85.0
3  Sita  28.0   92.0

Filling Missing Values

In [5]:
#fill missing values with a constant
df_filled = df.fillna(0)
print("Filled with 0:")
print(df_filled)

#Fill missing with mean of column
df['Age']=df['Age'].fillna(df['Age'].mean())
df['Marks']=df['Marks'].fillna(df['Marks'].mean())
print("\nFilled with Mean:")
print(df)

Filled with 0:
    Name   Age  Marks
0   Ravi  25.0   85.0
1   Neha   0.0   90.0
2  Kiran  30.0    0.0
3   Sita  28.0   92.0

Filled with Mean:
    Name        Age  Marks
0   Ravi  25.000000   85.0
1   Neha  27.666667   90.0
2  Kiran  30.000000   89.0
3   Sita  28.000000   92.0

3.Handling Duplicates

Removing Duplicates

In [6]:
data={
    'ID':[1,2,2,3,3,4,4],
    'Name':['Ravi','Neha','Neha','Kiran','Kiran','Sita','Sita'],
    'Marks':[25,28,28,30,30,25,25]
}

df=pd.DataFrame(data)

print("Original DataFrame:")
print(df)

#Remove Duplicates
df_no_dup = df.drop_duplicates()
print("\nAfter Removing Duplicates:")
print(df_no_dup)

Original DataFrame:
   ID   Name  Marks
0   1   Ravi     25
1   2   Neha     28
2   2   Neha     28
3   3  Kiran     30
4   3  Kiran     30
5   4   Sita     25
6   4   Sita     25

After Removing Duplicates:
   ID   Name  Marks
0   1   Ravi     25
1   2   Neha     28
3   3  Kiran     30
5   4   Sita     25

Changing datatypes

In [8]:
data={
    'ID':['1','2','3','4'],
    'Marks':['85','90','78','92']
}

df=pd.DataFrame(data)
print("Original Data Types:")
print(df.dtypes)

#Change Datatypes
df['ID']=pd.to_numeric(df['ID'])
df['Marks']=pd.to_numeric(df['Marks'])
print("\nAfter Conversions:")
print(df.dtypes)

Original Data Types:
ID       object
Marks    object
dtype: object

After Conversions:
ID       int64
Marks    int64
dtype: object

Applying Functions

In [9]:
df['Marks']=df['Marks'].apply(lambda x:x+5)
print("\nAfter Applying Function:")
print(df)

After Applying Function:
   ID  Marks
0   1     90
1   2     95
2   3     83
3   4     97

Normalisation of Marks(Scaling between 0 and 1)

In [10]:
df['Marks_Normalisation']=(df['Marks']-df['Marks'].min())/(df['Marks'].max()-df['Marks'].min())
print("Normalisation Marks:")
print(df)

Normalisation Marks:
   ID  Marks  Marks_Normalisation
0   1     90             0.500000
1   2     95             0.857143
2   3     83             0.000000
3   4     97             1.000000