<a href="https://colab.research.google.com/github/Vyshnavi2k5/PDS_B14_2303A51968/blob/main/Lab%20Assignment6.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [8]:
import pandas as pd

df = pd.read_csv("titanic.csv")

print("===== Missing values per column (Before Cleaning) =====")
print(df.isnull().sum())
print("\n")

# Fill missing Age with mean (reassignment, no inplace warning)
df['Age'] = df['Age'].fillna(df['Age'].mean())

# Fill missing Embarked with mode
df['Embarked'] = df['Embarked'].fillna(df['Embarked'].mode()[0])

# Drop Cabin column
df = df.drop(columns=['Cabin'])

print("===== Missing values per column (After Cleaning) =====")
print(df.isnull().sum())

===== Missing values per column (Before Cleaning) =====
PassengerId    0
Name           0
Age            2
Sex            0
Embarked       1
Cabin          4
Survived       0
dtype: int64


===== Missing values per column (After Cleaning) =====
PassengerId    0
Name           0
Age            0
Sex            0
Embarked       0
Survived       0
dtype: int64

In [10]:
import pandas as pd
data = {
    "StudentID": [1, 2, 3, 4, 5, 6],
    "Name": ["Ravi", "Neha", "Kiran", "Sita", "Arjun", "Meena"],
    "Gender": ["M", "Male", "male", "F", "Female", "female"],
    "Marks": [85, 90, 78, 92, 88, 76]
}

df = pd.DataFrame(data)
print(" Original Data")
print(df)
df['Gender'] = df['Gender'].str.strip().str.capitalize()
df['Gender'] = df['Gender'].replace({
    "M": "Male",
    "F": "Female"
})
print("\n cleaned dataset (after standardizing gender)")
print(df)

 Original Data
   StudentID   Name  Gender  Marks
0          1   Ravi       M     85
1          2   Neha    Male     90
2          3  Kiran    male     78
3          4   Sita       F     92
4          5  Arjun  Female     88
5          6  Meena  female     76

 cleaned dataset (after standardizing gender)
   StudentID   Name  Gender  Marks
0          1   Ravi    Male     85
1          2   Neha    Male     90
2          3  Kiran    Male     78
3          4   Sita  Female     92
4          5  Arjun  Female     88
5          6  Meena  Female     76