<a href="https://colab.research.google.com/github/Vyshnavi2k5/PDS_B14_2303A51968/blob/main/Merging_and_joining_datasets.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

Example:Simple Merge

In [6]:
import pandas as pd

#Student Data
students = pd.DataFrame({
    'Student_ID':[101,102,103,104],
    'Name':['Ravi','Neha','Kiran','Sita']
})

#Marks Data
marks=pd.DataFrame({
    'Student_ID':[101,102,103,105],
    'Marks':[85,90,78,88]
})

#Merge on Student_ID
merged_df=pd.merge(students,marks,on='Student_ID')

print("Merged DataFrame.")
print(merged_df)

Merged DataFrame.
   Student_ID   Name  Marks
0         101   Ravi     85
1         102   Neha     90
2         103  Kiran     78

Different Joins

In [ ]:
#INNER JOIN(default)

In [8]:
inner=pd.merge(students,marks,on='Student_ID',how='inner')
print("Inner Join:\n",inner)

Inner Join:
    Student_ID   Name  Marks
0         101   Ravi     85
1         102   Neha     90
2         103  Kiran     78

In [ ]:
#LEFT JOIN

In [9]:
left=pd.merge(students,marks,on='Student_ID',how='left')
print("\nLeft Join:\n",left)

Left Join:
    Student_ID   Name  Marks
0         101   Ravi   85.0
1         102   Neha   90.0
2         103  Kiran   78.0
3         104   Sita    NaN

In [10]:
#RIGHT JOIN
right=pd.merge(students,marks,on='Student_ID',how='right')
print("\nRight Join:\n",right)

Right Join:
    Student_ID   Name  Marks
0         101   Ravi     85
1         102   Neha     90
2         103  Kiran     78
3         105    NaN     88

In [11]:
#OUTER JOIN
outer=pd.merge(students,marks,on='Student_ID',how='outer')
print("\nOuter Join:\n",outer)

Outer Join:
    Student_ID   Name  Marks
0         101   Ravi   85.0
1         102   Neha   90.0
2         103  Kiran   78.0
3         104   Sita    NaN
4         105    NaN   88.0

Example: Using join()

In [12]:
#student details(index=Student_ID)
students=pd.DataFrame({
    'Name':['Ravi','Neha','Kiran','Sita'],
    'Age':[20,21,19,22]
},index=[101,102,103,104])

In [13]:
#Marks Data(index=Student_ID)
marks=pd.DataFrame({
    'Marks':[85,90,78,88]
},index=[101,102,103,105])

In [14]:
#Join based on index
joined_df=students.join(marks)

print("Joined DataFrame:")
print(joined_df)

Joined DataFrame:
      Name  Age  Marks
101   Ravi   20   85.0
102   Neha   21   90.0
103  Kiran   19   78.0
104   Sita   22    NaN